body {
  min-height: 880px;
  background-color: #444444;
  font-family: 'Noto Sans', sans-serif !important;
}

a:hover {
  cursor: pointer;
  color: #F5E239 !important;
}

a.hide-link,
a:hover.hide-link,
a:visited.hide-link {
  text-decoration: none !important;
  color: white !important;
}

.logo {
  background-color: #375a7f;
}

div.logo {
  padding: 3px;
}

.myyellow {
  color: #F5E239
}

.full-height,
.main-content {
  min-height: calc(100vh + 110px);
}

.left-column {
  border: 4px solid #375a7f;
}

.top-box {
  border-top: 4px solid #375a7f;
  border-right: 4px solid #375a7f;
  border-bottom: 4px solid #375a7f;
}

.search-box {
  border: 4px solid #303030;
}


body.home .main-content,
body.desktop .main-content,
body.terms .main-content,
body.about .main-content,
body.profile .main-content,
body.privacy .main-content {
  background: url("/static/images/front-page.jpg") no-repeat top/cover scroll;
}

.sm {
  font-size: .75em;
}

div.paragraph {
  display: inline-block;
  max-width: 750px;
}

#auto_refresh:hover {
  color: #F5E239;
  cursor: pointer;
}

.doubleChart > div:first-of-type {
  margin-bottom: -60px;
}

.modal-link {
  cursor: pointer;
}
.modal-link:hover {
  color: #F5E239 !important;
}

.extraChart {
  display: none;
}

.hideTillComplete {
  display: none;
}

.price-table {
  max-width: 950px;
}

form.no-border {
  border: 0;
  box-shadow: none;
}

.menubar {
  border-bottom: 2px solid #375a7f;
  padding-bottom: 0.75em;
}

.menu-divider {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 12px 0;
  margin: 0 5px;
}

li.welcome,
li.signout {
  border-bottom: 1px solid gray;
  padding-bottom: 0.75em;
}

#profile_img {
  width: 100px !important;
  max-height: 100px !important;
}

.inline-article {
  height: calc(100% - 4em);
  overflow: hidden;
}

.hide {
  display: none !important;
}

.signout {
  cursor: pointer;
}

li.welcome {
  padding-top: 0.75em;
  letter-spacing: .25em;
}

footer {
  padding: 0 20px;
  line-height: 1rem;
}

footer p {
  margin-bottom: 10px;
}

.opacity-0 { opacity:0!important; }
.opacity-1 { opacity:0.2!important; }
.opacity-2 { opacity:0.4!important; }
.opacity-3 { opacity:0.6!important; }
.opacity-4 { opacity:0.8!important; }
.opacity-5 { opacity:1!important; }

.flush-left {
  text-align: -webkit-left;
  text-align: -moz-left;
  text-align: -o-left;
  text-align: -ms-left;
}

.flush-right {
  text-align: -webkit-right;
  text-align: -moz-right;
  text-align: -o-right;
  text-align: -ms-right;
}

.nowrap {
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}

.favicon {
  background-color: white;
  width: 24px !important;
  height: 24px !important;
  padding: 4px;
}

.favicon_big {
  background-color: white;
  width: 32px !important;
  height: 32px !important;
  padding: 4px;
}

.button-close:hover {
  cursor: pointer;
}

.lock-button:hover {
  cursor: pointer;
}

.recent-plus-body {
  height: 14rem;
}

.min-box {
  min-height: 100px;
}