header {
  background-color: #BDBDBD !important;
  padding: 0 5rem 1rem 5rem;
}

.main-content {
  min-height: calc(100vh - 104px);
}

body.home .main-content,
body.desktop .main-content {
  background: url("/static/images/front-page.jpg") no-repeat top/cover scroll;
}

.doubleChart > div:first-of-type {
  margin-bottom: -60px;
}

.extraChart {
  display: none;
}

.price-table {
  max-width: 950px;
}

li.welcome,
li.g_id_signout {
  border-bottom: 1px solid gray;
  padding-bottom: 0.75em;
}

li.welcome {
  padding-top: 0.75em;
  letter-spacing: .25em;
}

footer {
  padding: 0 20px;
  line-height: 3rem;
}

.opacity-0 { opacity:0!important; }
.opacity-1 { opacity:0.2!important; }
.opacity-2 { opacity:0.4!important; }
.opacity-3 { opacity:0.6!important; }
.opacity-4 { opacity:0.8!important; }
.opacity-5 { opacity:1!important; }

.flush-left {
  text-align: -webkit-left;
  text-align: -moz-left;
  text-align: -o-left; 
  text-align: -ms-left;
}

.flush-right {
  text-align: -webkit-right;
  text-align: -moz-right;
  text-align: -o-right; 
  text-align: -ms-right;
}
