nav {
  background-color: #330099;
}

nav form {
  border: 0 !important;
  background-color: #330099 !important;
}

header {
  background-color: #BDBDBD !important;
  padding: 0 5rem 1rem 5rem;
}

.chart-off {
  display: none;
}

footer { 
  background-color: #330099;
  padding: 0 20px;
  line-height: 3rem;
}
