{{- define "_chart_js" -}}
                <script src="/static/vendor/echarts/dist/echarts.min.js"></script>
                <script src="/static/vendor/echarts/theme/vintage.js"></script>
{{- end}}
