{{- define "_header" -}}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="google-signin-client_id" content="602086455575-vj2spkou0ucsntgol9srfkf8mka3o5i2.apps.googleusercontent.com">
    <link href="/static/css/custom-dark.css" rel="stylesheet">
    <link href="/static/vendor/fontawesome/css/all.css" rel="stylesheet">
    <link href="/static/css/internal.css" rel="stylesheet">
    <title>Graystorm StockWatch</title>
  </head>

  <body id="page-top" class="{{.config.TmplName}}">
    <script src="/static/vendor/jquery/jquery-3.5.1.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <script src="/static/js/wrapper.js"></script>

    <!-- Navigation -->
    <nav class="nav navbar-dark bg-primary" style="min-height: 98px;">
      <div class="container-fluid">
        <div class="row">
          <h1 class="display-3 mt-3"><a href="/" class="navbar-brand text-decoration-none">Graystorm StockWatch</a></h1>
        </div><!-- row -->
        <div class="row">
          <div class="col-8 col-lg-9 col-xl-10 float-start">
            <ul class="nav me-auto mb-2">
              <li class="nav-item"><a class="nav-link" href="#section1">Favorites</a></li>
              <li class="nav-item"><a class="nav-link" href="#section2">Watch</a></li>
              <li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a></li>
            </ul>
            {{if .recents}}
            <ul class="nav me-auto mb-2 small">
              <li class="nav-item mx-1">Recent:</li>
              {{range .recents -}}
                <li class="nav-item mx-1"><a href="/view/{{.Symbol}}/{{.Acronym}}"><button type="button" class="badge text-dark bg-warning"><i class="fas fa-dollar-sign"></i>{{.Symbol}}</button></a></li>
              {{end -}}
            </ul>
            {{end -}}
          </div><!-- float-start -->
          <div class="col-4 col-lg-3 col-xl-2 my-2 showOnProfile align-self-center flush-right">
            <img class="image-fluid rounded" src="{{.Config.GoogleProfile.PictureURL}}">
          </div><!-- showOnProfile -->
          <div class="col-4 col-lg-3 col-xl-2 g-signin2 hideOnProfile align-self-center flush-right" data-longtitle="true" data-onsuccess="onSignIn">
          </div><!-- hideOnProfile -->
        </div><!-- row -->
      </div>
    </nav>

    <div class="container-fluid"><!-- wrapper container -->
      <div class="row"><!-- wrapper row -->
        <div class="col-6 col-sm-5 col-md-4 col-lg-3 col-xxl-2 bg-dark">
          {{ template "_sidemenu" }}
        </div><!-- col-2 -->
        <div class="col-6 col-sm-7 col-md-8 col-lg-9 col-xxl-10 mb-n5"><!-- wrapper col -->
{{- end}}

{{- define "_messages" -}}
                  {{if .messages }}
                    {{range .messages}}
                      <div class="text-{{.Level}}">{{.Text}}</div>
                    {{end}}
                  {{end}}
{{- end}}

{{- define "_sidemenu" -}}
          <div class="">
            <form method="POST" action="/search/ticker" class="form-control bg-primary mt-3">
              <input class="row mx-0 my-2 form-control-sm" name="searchString" type="search" placeholder="Search" aria-label="Search">
              <button class="row mx-0 my-2 form-control-sm bg-light text-dark" type="submit">Search</button>
            </form>
            <ul class="nav me-auto mb-2 mb-lg-0 showOnProfile">
              <li class="nav-item me-1 text-warning">Welcome back<br><span class="profileName"></span>!</li>
              <li class="nav-item"><a class="nav-link" href="#section1">Account</a></li>
              <li class="nav-item"><a class="nav-link" href="#section2">Holdings</a></li>
              <li class="nav-item"><a class="nav-link" href="#section3">Preferences</a></li>
              <li class="nav-item"><a class="nav-link" href="#" class="signout">Disconnect Google</a></li>
            </ul>
          </div>
{{- end}}

{{- define "_share_price" -}}
  {{ printf "$%.2f" .daily.ClosePrice }}
  {{if eq .lastDailyMove "up"}}<i class="fas fa-arrow-up text-success"></i>
  {{else if eq .lastDailyMove "down"}}<i class="fas fa-arrow-down text-danger"></i>
  {{end}}at close on {{ .daily.PriceDate }}
{{- end}}

{{- define "_ticker_top" -}}
              <header class="bg-dark d-flex pt-2">
                <div class="">
                  <h3>Symbol: <a class="link-light" href="/view/{{.ticker.TickerSymbol}}/{{.exchange.ExchangeAcronym}}">{{.ticker.TickerSymbol}}</a> ({{.exchange.ExchangeAcronym}})</h3>
                  <h5>{{.ticker.TickerName}}</h5>
                  <h6 class="small text-info">Share price: <span class="text-light">{{ template "_share_price" . }}</span></h6>
                  <span id="toggle">
                    <button type="button" class="nav-item btn-sm bg-success"><i class="fas fa-chart-line"></i> Line</button>
                    <button type="button" class="nav-item btn-sm bg-success"><i class="far fa-chart-bar"></i> Candlestick</button>
                    <button type="button" class="nav-item btn-sm bg-danger py-2"><i class="far fa-window-close"></i></button>
                  </span>
                </div>
                <div class="flex-grow-1 text-end">
                  {{ template "_messages" . }}
                </div>
              </header>
{{- end}}

{{- define "_chart_js" -}}
    <script src="/static/vendor/echarts/dist/echarts.min.js"></script>
    <script src="/static/vendor/echarts/theme/vintage.js"></script>
{{- end}}

{{- define "_footer" -}}
    <!-- Footer -->
    <footer class="footer fixed-bottom fs-6 align-middle text-light row">
        <div class="col-2">
          <p class="lh-1 small">&copy;2021
            <a href="mailto:jeff@graystorm.com" class="text-decoration-none">jeff@graystorm.com</a>
          </p>
        </div>
    </footer>

  </body>
</html>
{{- end}}
