{{- define "footer" -}}
    <!-- Footer -->
    <footer class="footer fixed-bottom fs-6 align-middle text-light">
      &copy; Jeffrey Culverhouse - <a href="mailto:jeff@graystorm.com" class="link-light">jeff@graystorm.com</a>
    </footer>

  </body>
</html>
{{- end}}
