{{- define "home" -}}
{{ template "header" . }}
          <div class="row">
            <header class="col-12">
              <div class="float-middle">
                <h1 class="text-center text-dark">Welcome to <em>Graystorm StockWatch</em>!</h1>
                <p class="text-center lead text-primary">powered by <a href="https://marketstack.com/" target="_blank">marketstack</a> data</p>
              </div>
            </header>
            <div class="main-content">
            </div>
          </div><!-- row -->
        </div><!-- col-10 -->
      </div><!-- row -->
    </div>
{{ template "footer" . }}
{{- end }}
